aiohttp==3.8.4
aiosignal==1.2.0
alabaster==0.7.12
altair==5.5.0
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==2.14.2
astropy==5.1
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==23.1.0
automat==20.2.0
autopep8==1.6.0
babel==2.11.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==22.6.0
bleach==4.1.0
bokeh==2.4.3
brotlipy==0.7.0
certifi==2024.8.30
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==2.2.1
colorama==0.4.6
colorcet==3.0.1
comm==0.1.2
constantly==15.1.0
contourpy==1.0.5
cookiecutter==2.1.1
cryptography==38.0.4
cycler==0.11.0
cytoolz==0.12.0
dask==2023.4.1
datashader==0.15.2
datashape==0.5.2
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20200713
distributed==2023.4.1
docutils==0.18.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.9.0
flake8==6.0.0
flask==2.2.2
fonttools==4.25.0
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gevent==22.10.2
gitdb==4.0.7
gitpython==3.1.30
greenlet==2.0.1
h11==0.14.0
h5py==3.7.0
heapdict==1.0.1
holoviews==1.15.4
html5lib==1.1
hvplot==0.8.4
hyperlink==21.0.0
idna==3.4
imagecodecs==2021.8.26
imageio==2.26.0
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib-metadata==6.0.0
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.25.0
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.1
jellyfish==0.9.0
jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==7.4.9
jupyter-console==6.6.3
jupyter-core==5.3.0
jupyter-server==1.23.4
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyring==23.4.0
kiwisolver==1.4.4
lazy-object-proxy==1.6.0
llvmlite==0.39.1
locket==1.0.0
lxml==4.9.1
markdown==3.4.1
markupsafe==2.1.1
matplotlib==3.7.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==0.8.4
mpmath==1.2.1
msgpack==1.0.3
multidict==6.0.2
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
nose==1.3.7
notebook==6.5.2
numba==0.56.4
numexpr==2.8.4
numpy==1.24.3
numpydoc==1.5.0
openpyxl==3.0.10
packaging==23.0
pandas==2.1.4
pandocfilters==1.5.0
panel==0.14.3
param==1.12.3
parso==0.8.3
partd==1.2.0
pathspec==0.10.3
patsy==0.5.3
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.4.0
pip==24.2
pkginfo==1.9.6
platformdirs==2.5.2
pluggy==1.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.36
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pydocstyle==6.3.0
pyerfa==2.0.0
pyflakes==3.0.1
pygments==2.15.1
pyhamcrest==2.0.2
pylint==2.16.2
pyls-spyder==0.4.0
pyopenssl==23.0.0
pyparsing==3.0.9
pyrsistent==0.18.0
pysocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-slugify==5.0.2
pytz==2023.3
pyviz-comms==2.0.2
pyyaml==6.0
pyzmq==25.1.2
qdarkstyle==3.0.2
qtawesome==1.2.2
qtconsole==5.4.2
qtpy==2.2.0
regex==2022.7.9
requests==2.31.0
rope==1.7.0
rtree==1.0.1
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.0
scrapy==2.8.0
seaborn==0.12.2
send2trash==1.8.0
service-identity==18.1.0
setuptools==75.1.0
sip==6.6.2
six==1.16.0
sklearn==0.0.post1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder-kernels==2.4.1
sqlalchemy==1.4.39
statsmodels==0.13.2
sympy==1.11.1
tables==3.6.1
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
tblib==1.7.0
terminado==0.17.1
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2023.4.12
tinycss2==1.2.1
tk==0.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.66.1
traitlets==5.7.1
twisted==22.2.0
typing-extensions==4.7.1
ujson==5.4.0
unidecode==1.2.0
urllib3==2.2.3
w3lib==1.21.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
werkzeug==2.2.3
whatthepatch==1.0.2
wheel==0.44.0
widgetsnbextension==3.5.2
wrapt==1.14.1
xarray==2022.11.0
xlrd==2.0.1
xlsxwriter==3.0.3
yapf==0.31.0
yarl==1.8.1
zict==2.2.0
zipp==3.11.0
zope-event==4.6
zope-interface==5.4.0

